@media only screen and (min-width: 768px) {
    .order-group .order-products__name {
        -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
        width: 60%;
        max-width: 60%;
    }
    .order-group .order-products__quantity {
        display: block;
        -ms-flex-preferred-size: 20.5%;
        flex-basis: 20.5%;
        width: 20.5%;
        max-width: 20.5%;
    }
    .order-group .order-products__price {
        display: block;
        -ms-flex-preferred-size: 19.5%;
        flex-basis: 19.5%;
        width: 19.5%;
        max-width: 19.5%;
    }
    .order-group .order-products__field:last-child {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        width: 50%;
        max-width: 50%;
    }
    .order-group .order-products__heading {
        -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
        flex: 0 1 60%;
        width: 60%;
        max-width: 60%;
        margin: 0;
        padding: 0 5px;
    }
}