<section class="nb-section nb-section_dark nb-whitening-consultation-section">
    <div class="container">
        <div class="nb-whitening-consultation">
            <h3 class="nb-whitening-consultation__title">Улыбайтесь чаще <span class="font-weight_light">вместе с
                    нами</span>
            </h3>
            <ul class="nb-whitening-consultation-features">
                <li class="nb-whitening-consultation-features__item"><span>Безопасно<br> и бережно</span></li>
                <li class="nb-whitening-consultation-features__item"><span>Инновационные<br> технологии</span></li>
                <li class="nb-whitening-consultation-features__item"><span>Премиальный<br> сервис</span></li>
            </ul>
            <p class="nb-whitening-consultation__desc nb-whitening-consultation__desc_desktop">Получить более подробную
                информацию:</p>
            <p class="nb-whitening-consultation__desc nb-whitening-consultation__desc_mobile">Получить подробную
                информацию:</p><span class="nb-whitening-consultation__phone-wrapper"><span
                    class="nb-whitening-consultation__phone-icon">
                    <svg class="icon icon-call ">
                        <use xlink:href="#call"></use>
                    </svg></span><a class="nb-whitening-consultation__phone" href="tel:+74957836606">+7 (495) 783-66-06</a></span>
            <form class="nb-form nb-whitening-consultation-form" action="#">
                <div class="nb-form__body">
                    <div class="nb-form__fields">
                        <div class="nb-form-field">
                            <input id="wcf-phone" type="tel" name="tel" placeholder="+7 (999) 999-99-99" required>
                            <label for="wcf-phone">Укажите ваш номер</label>
                        </div>
                    </div>
                    <div class="nb-form__actions">
                        <button class="nb-btn nb-form__submit" type="submit">Записаться</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>