DIR = '../blocks/photo-carousel/'
IMG_DIR = DIR + 'images/'

.photo-carousel
	position relative
	display block



	&__wrapper
		align-items center



	&__container
		overflow visible



	&__image
		display block
		overflow hidden
		width 100%
		height 100%
		object-fit cover
		border-radius 30px



	&__slide
		width 300px
		height 300px
		transition all 1s ease

		&.swiper-slide
			transform scale(.8)

			+above(size-m)
				width 410px
				transform scale(.9)

			+above(size-xxl)
				height 414px



		&.swiper-slide-prev
		&.swiper-slide-next
			margin 0

			+above(size-xxl)
				transform scale(1)

		&.swiper-slide-active
			margin 0
			transform scale(1)



	&__navigation
		position relative



	&__pagination
		position absolute
		left 50%
		bottom -30px
		display flex
		justify-content center
		width 100%
		transform translate(-50%, 0)