.main-pager {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #959595;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.25;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .main-pager {
        font-size: 16px;
    }
}

.main-pager__item {
    display: block;
    color: inherit;
    flex: 0 1 auto;
    margin: 0 12px 0 0;
}

.main-pager__item:last-child {
    margin-right: 0;
}

.main-pager__current {
    display: block;
    color: #282323;
}

.main-pager__label {
    display: block;
    color: inherit;
}

.main-pager__link {
    display: block;
    color: inherit;
    text-decoration: none
}

.main-pager__link:hover {
    color: #3333CC;
}


.main-pager__arrow {
    position: relative;
    display: block;
    width: 26px;
    height: 26px;
    font-size: 0;
    background: #f7faf7;
    border-radius: 50%;
    box-shadow: 0px 0px 12px rgba(27, 26, 24, 0.1);
}
.events-wrapper .main-pager__arrow {
    background: #3333CC;
}
@media only screen and (min-width: 768px) {
    .main-pager__arrow {
        position: relative;
        display: block;
        width: 34px;
        height: 34px;
    }
}

.main-pager__arrow[href] {
    color: #303030;
    text-decoration: none;
}

.events-wrapper .main-pager__arrow[href] {
    color: #ffffff;
}

.main-pager__arrow[href]:hover {
    color: #3333CC;
}

.events-wrapper .main-pager__arrow[href]:hover {
    color: #9797fc;
}

.main-pager__arrow:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: block;
    width: 14px;
    height: 2px;
    background: currentColor;
    transform: translate(-50%, -50%);
}

.main-pager__arrow:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    width: 10px;
    height: 10px;
    border-top: 2px solid currentColor;
    border-left: 2px solid currentColor;
}

.main-pager__arrow_type_prev:after {
    transform: translate(-50%, -50%) rotate(-45deg)
}

.main-pager__arrow_type_next:after {
    transform: translate(-50%, -50%) rotate(135deg)
}