# игнорируем папки Битрикса
/bitrix
/bitrix/
/bitrix/vendor/
/bitrix.old/
/upload/

# логи крон скрипта
/log/

# исключаем специфичные для проекта папки и файлы

# остальные файлы
/.htaccess
.idea
/composer.lock
/robots.txt
/web.config
/work/
/work
work
/public
/bxdemo.php

# файлы по типам
/*.log
/*.tar.gz
/*.txt
/__*.txt
/--*.txt
/*.xml

/test