DIR = '../blocks/accordion-group/'
IMG_DIR = DIR + 'images/'

.accordion-group
	display block
	border-top 1px solid var(--color-black)



	&__list
		display block
		margin 0
		padding 0
		list-style none



	&__item
		display block
		margin 0
		padding 0
		border-bottom 1px solid var(--color-black)