- var timestamp = Date.now();
- var componentScripts = [];
- var componentStyles = ['assets/components/noUiSlider-master/nouislider.min.css'];
include /bemto/bemto.pug

include /blocks/work-list/work-list
include /blocks/icon/icon
include /blocks/scripts/scripts
include /blocks/page/page
include /blocks/header/header
include /blocks/fixed-header/fixed-header
include /blocks/footer/footer
include /blocks/button/button
include /blocks/title/title
include /blocks/section/section
include /blocks/form/form
include /blocks/form-control/form-control
include /blocks/search-panel/search-panel
include /blocks/search-results/search-results
include /blocks/geo-selector/geo-selector
include /blocks/nav/nav
include /blocks/logo/logo
include /blocks/image/image
include /blocks/fancybox/fancybox
include /blocks/menu/menu
include /blocks/modal/modal
include /blocks/control-group/control-group
include /blocks/check-elem/check-elem
include /blocks/icon-control/icon-control
include /blocks/icon-controls/icon-controls
include /blocks/link/link
include /blocks/link-group/link-group
include /blocks/social-nav/social-nav
include /blocks/dev-credit/dev-credit
include /blocks/map/map
include /blocks/swiper/swiper
include /blocks/tab-bar-panel/tab-bar-panel
include /blocks/storage-list/storage-list
include /blocks/logo-carousel/logo-carousel
include /blocks/photo-carousel/photo-carousel
include /blocks/breadcrumbs/breadcrumbs
include /blocks/carousel-nav/carousel-nav
include /blocks/info-panel/info-panel
include /blocks/info-grid/info-grid
include /blocks/banner/banner
include /blocks/banner-carousel/banner-carousel
include /blocks/partners-carousel/partners-carousel
include /blocks/bullet-pagination/bullet-pagination
include /blocks/partnership-panel/partnership-panel
include /blocks/brand/brand
include /blocks/nav-carousel/nav-carousel
include /blocks/brands-grid/brands-grid
include /blocks/advantages-carousel/advantages-carousel
include /blocks/advantage-card/advantage-card
include /blocks/map-panel/map-panel
include /blocks/product-snippet/product-snippet
include /blocks/product-grid/product-grid
include /blocks/catalog/catalog
include /blocks/range/range
include /blocks/catalog-filter/catalog-filter
include /blocks/catalog-filters/catalog-filters
include /blocks/filter-trigger/filter-trigger
include /blocks/filter-group/filter-group
include /blocks/layout-group/layout-group
include /blocks/label/label
include /blocks/props/props
include /blocks/price-group/price-group
include /blocks/quantity-input/quantity-input
include /blocks/rating/rating
include /blocks/option-filter/option-filter
include /blocks/scroller/scroller
include /blocks/link-filter/link-filter
include /blocks/pagination/pagination

- var fileName = '';
- var bodyClass = '';
- var headerClass = '';
- var headerWrapperClass = '__header-wrapper';

+page('html')(lang='ru')

	include ./head.pug

	+e('body').body(class=bodyClass)
		+e.header(class=headerClass)
			+header(fileName)(class=headerWrapperClass)
			+fixed-header()

		+e.content
			block content

		+e.scroll-top._state_hidden.js-scroller-container
			+scroller().js-go-to(href='#body')
				+e('svg').icon(width="23" height="15" viewBox="0 0 23 15" fill="none" xmlns="http://www.w3.org/2000/svg")
					path(fill-rule="evenodd" clip-rule="evenodd" d="M0.622505 13.95C-0.178307 13.1892 -0.210767 11.9233 0.550005 11.1225L9.32501 1.88565C10.5078 0.640651 12.4922 0.640653 13.675 1.88565L22.45 11.1225C23.2108 11.9233 23.1783 13.1892 22.3775 13.95C21.5767 14.7108 20.3108 14.6783 19.55 13.8775L11.5 5.40381L3.45 13.8775C2.68923 14.6783 1.42332 14.7108 0.622505 13.95Z" fill="black")


		+e.footer
			+footer()

			+e.tab-bar-panel
				+tab-bar-panel()

			+e.slide-nav
				+menu()

			+e.modals
					include ../../include/_modals


			script.
				let appResources = {
					choices: {
						initiated: false,
						delay: 2000,
						items: [
							{
								name: 'choices-css',
								type: 'css',
								src: 'assets/components/choices/styles/choices.min.css'
							},
							{
								name: 'choices-js',
								type: 'js',
								src: 'assets/components/choices/scripts/choices.min.js'
							},
						],
					},
					fancybox: {
						initiated: false,
						delay: 0,
						items: [
							{
								name: 'fancybox-css',
								type: 'css',
								src: 'assets/components/fancybox-4.0.7/fancybox.css'
							},
							{
								name: 'fancybox-js',
								type: 'js',
								src: 'assets/components/fancybox-4.0.7/fancybox.umd.js'
							},
						],
					},
				};

			+scripts([
				'assets/components/just-validate-3.10.0/just-validate.production.min.js',
				'assets/components/swiper-11.0.7/swiper-bundle.min.js',
				'assets/components/Inputmask/inputmask.min.js',
				'assets/scripts/resource-loader.js',
				'assets/scripts/helpers.js',
				'assets/scripts/common.js',
				'assets/scripts/search-form.js',
				'assets/scripts/custom.js',
				'assets/scripts/validate.js',
				'assets/components/wnumb-1.1.0/wNumb.js',
				'assets/components/noUiSlider-master/nouislider.min.js'
			])
