mixin header()
	- var DIR = 'assets/blocks/header/';
	- var IMG_DIR = DIR + 'images/';
	// begin .header
	+b.header&attributes(attributes)
		+e.top
			+e.top-wrapper
				| Интернет-магазин работает 24/7



		+e.main
			.page__container
				+e.main-wrapper
					+e.burger
						+button('button')._style_transparent._size_m.js-toggle(
							type='button'
							data-toggle-scope='.page__body'
							data-toggle-class='page__body_nav_open'
							aria-label='Открыть меню'
						)
							<svg class="button__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M3 18.1631V16.1631H21V18.1631H3ZM3 13.1631V11.1631H21V13.1631H3ZM3 8.16309V6.16309H21V8.16309H3Z" fill="url(#paint0_linear_2149_1884)"/>
								<defs>
									<linearGradient id="paint0_linear_2149_1884" 	x1="12" 	y1="6.16309" x2="12" y2="18.1631" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FFEAA6"/>
									<stop offset="0.35" stop-color="#EEDC7A"/>
									<stop offset="0.69" stop-color="#DAAF41"/>
									<stop offset="1" stop-color="#FFC737"/>
								</linearGradient>
								</defs>
							</svg>


					+e.logo
						+logo({image: {
										image: 'logo.svg',
										alt: 'image',
										sources: [
											{
												src: 'logo-s.svg',
												type: 'image/svg+xml',
												media: '(max-width: 1439px)'
											},
										]
									},
								})

					+e.contact-group
						+e.contact
							+e.link(href='tel:88007755221')
								| 8 (800) 77-55-221
						+e.contact
							+e.link._size_s(href='mailto:info@vate-tire.ru')
								| info@vate-tire.ru
						+e.contact._type_control
							+button()._style_outline._width_full._size_s.js-modal(href="#modalCallback")
								| Заказать звонок

					+e.geo-selector
						+geo-selector()
					+e.navigations
						+e.icon-controls
							+icon-controls({
								items: [
									{
										text: '',
										icon: '<svg class="icon-control__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 12.1631C12.55 12.1631 13.0208 11.9673 13.4125 11.5756C13.8042 11.1839 14 10.7131 14 10.1631C14 9.61309 13.8042 9.14225 13.4125 8.75059C13.0208 8.35892 12.55 8.16309 12 8.16309C11.45 8.16309 10.9792 8.35892 10.5875 8.75059C10.1958 9.14225 10 9.61309 10 10.1631C10 10.7131 10.1958 11.1839 10.5875 11.5756C10.9792 11.9673 11.45 12.1631 12 12.1631ZM12 19.5131C14.0333 17.6464 15.5417 15.9506 16.525 14.4256C17.5083 12.9006 18 11.5464 18 10.3631C18 8.54642 17.4208 7.05892 16.2625 5.90059C15.1042 4.74225 13.6833 4.16309 12 4.16309C10.3167 4.16309 8.89583 4.74225 7.7375 5.90059C6.57917 7.05892 6 8.54642 6 10.3631C6 11.5464 6.49167 12.9006 7.475 14.4256C8.45833 15.9506 9.96667 17.6464 12 19.5131ZM12 22.1631C9.31667 19.8798 7.3125 17.7589 5.9875 15.8006C4.6625 13.8423 4 12.0298 4 10.3631C4 7.86309 4.80417 5.87142 6.4125 4.38809C8.02083 2.90475 9.88333 2.16309 12 2.16309C14.1167 2.16309 15.9792 2.90475 17.5875 4.38809C19.1958 5.87142 20 7.86309 20 10.3631C20 12.0298 19.3375 13.8423 18.0125 15.8006C16.6875 17.7589 14.6833 19.8798 12 22.1631Z" fill="url(#paint0_linear_2149_1888)"/><defs><linearGradient id="paint0_linear_2149_1888" x1="12" y1="2.16309" x2="12" y2="22.1631" gradientUnits="userSpaceOnUse"><stop stop-color="#FFEAA6"/><stop offset="0.35" stop-color="#EEDC7A"/><stop offset="0.69" stop-color="#DAAF41"/><stop offset="1" stop-color="#FFC737"/></linearGradient></defs></svg>',
										wrapperClass: 'icon-controls__item_hide-xxl',
										attr: {
											href: '#modalStorageSelect',
											class: 'js-modal'
										}
									},
									{
										text: '',
										icon: '<svg class="icon-control__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.6 21.1631L13.3 14.8631C12.8 15.2631 12.225 15.5798 11.575 15.8131C10.925 16.0464 10.2333 16.1631 9.5 16.1631C7.68333 16.1631 6.14583 15.5339 4.8875 14.2756C3.62917 13.0173 3 11.4798 3 9.66309C3 7.84642 3.62917 6.30892 4.8875 5.05059C6.14583 3.79225 7.68333 3.16309 9.5 3.16309C11.3167 3.16309 12.8542 3.79225 14.1125 5.05059C15.3708 6.30892 16 7.84642 16 9.66309C16 10.3964 15.8833 11.0881 15.65 11.7381C15.4167 12.3881 15.1 12.9631 14.7 13.4631L21 19.7631L19.6 21.1631ZM9.5 14.1631C10.75 14.1631 11.8125 13.7256 12.6875 12.8506C13.5625 11.9756 14 10.9131 14 9.66309C14 8.41309 13.5625 7.35059 12.6875 6.47559C11.8125 5.60059 10.75 5.16309 9.5 5.16309C8.25 5.16309 7.1875 5.60059 6.3125 6.47559C5.4375 7.35059 5 8.41309 5 9.66309C5 10.9131 5.4375 11.9756 6.3125 12.8506C7.1875 13.7256 8.25 14.1631 9.5 14.1631Z" fill="url(#paint0_linear_2149_1890)"/><defs><linearGradient id="paint0_linear_2149_1890" x1="12" y1="3.16309" x2="12" y2="21.1631" gradientUnits="userSpaceOnUse"><stop stop-color="#FFEAA6"/><stop offset="0.35" stop-color="#EEDC7A"/><stop offset="0.69" stop-color="#DAAF41"/><stop offset="1" stop-color="#FFC737"/></linearGradient></defs></svg>',
										wrapperClass: 'icon-controls__item_hide-m',
										attr: {
											href:'#modalSearch',
											class: 'js-modal'
										}
									},
									{
										text: 'Кабинет',
										icon: '<svg class="icon-control__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 12.1631C10.9 12.1631 9.95833 11.7714 9.175 10.9881C8.39167 10.2048 8 9.26309 8 8.16309C8 7.06309 8.39167 6.12142 9.175 5.33809C9.95833 4.55475 10.9 4.16309 12 4.16309C13.1 4.16309 14.0417 4.55475 14.825 5.33809C15.6083 6.12142 16 7.06309 16 8.16309C16 9.26309 15.6083 10.2048 14.825 10.9881C14.0417 11.7714 13.1 12.1631 12 12.1631ZM4 20.1631V17.3631C4 16.7964 4.14583 16.2756 4.4375 15.8006C4.72917 15.3256 5.11667 14.9631 5.6 14.7131C6.63333 14.1964 7.68333 13.8089 8.75 13.5506C9.81667 13.2923 10.9 13.1631 12 13.1631C13.1 13.1631 14.1833 13.2923 15.25 13.5506C16.3167 13.8089 17.3667 14.1964 18.4 14.7131C18.8833 14.9631 19.2708 15.3256 19.5625 15.8006C19.8542 16.2756 20 16.7964 20 17.3631V20.1631H4ZM6 18.1631H18V17.3631C18 17.1798 17.9542 17.0131 17.8625 16.8631C17.7708 16.7131 17.65 16.5964 17.5 16.5131C16.6 16.0631 15.6917 15.7256 14.775 15.5006C13.8583 15.2756 12.9333 15.1631 12 15.1631C11.0667 15.1631 10.1417 15.2756 9.225 15.5006C8.30833 15.7256 7.4 16.0631 6.5 16.5131C6.35 16.5964 6.22917 16.7131 6.1375 16.8631C6.04583 17.0131 6 17.1798 6 17.3631V18.1631ZM12 10.1631C12.55 10.1631 13.0208 9.96725 13.4125 9.57559C13.8042 9.18392 14 8.71309 14 8.16309C14 7.61309 13.8042 7.14225 13.4125 6.75059C13.0208 6.35892 12.55 6.16309 12 6.16309C11.45 6.16309 10.9792 6.35892 10.5875 6.75059C10.1958 7.14225 10 7.61309 10 8.16309C10 8.71309 10.1958 9.18392 10.5875 9.57559C10.9792 9.96725 11.45 10.1631 12 10.1631Z" fill="url(#paint0_linear_2149_13552)"/><defs><linearGradient id="paint0_linear_2149_13552" x1="12" y1="4.16309" x2="12" y2="20.1631" gradientUnits="userSpaceOnUse"><stop stop-color="#FFEAA6"/><stop offset="0.35" stop-color="#EEDC7A"/><stop offset="0.69" stop-color="#DAAF41"/><stop offset="1" stop-color="#FFC737"/></linearGradient></defs></svg>',
										wrapperClass: 'icon-controls__item_show-m',
										attr: {
											href: '#',
											class: ''
										}
									},
									{
										text: 'Заказы',
										icon: '<svg class="icon-control__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 21.1631C7.33333 21.1631 5.91667 20.5798 4.75 19.4131C3.58333 18.2464 3 16.8298 3 15.1631V9.16309C3 7.49642 3.58333 6.07975 4.75 4.91309C5.91667 3.74642 7.33333 3.16309 9 3.16309H15C16.6667 3.16309 18.0833 3.74642 19.25 4.91309C20.4167 6.07975 21 7.49642 21 9.16309V15.1631C21 16.8298 20.4167 18.2464 19.25 19.4131C18.0833 20.5798 16.6667 21.1631 15 21.1631H9ZM11 16.1631L17 10.1631L15.6 8.76309L11 13.3631L8.8 11.1631L7.4 12.5631L11 16.1631ZM9 19.1631H15C16.1 19.1631 17.0417 18.7714 17.825 17.9881C18.6083 17.2048 19 16.2631 19 15.1631V9.16309C19 8.06309 18.6083 7.12142 17.825 6.33809C17.0417 5.55475 16.1 5.16309 15 5.16309H9C7.9 5.16309 6.95833 5.55475 6.175 6.33809C5.39167 7.12142 5 8.06309 5 9.16309V15.1631C5 16.2631 5.39167 17.2048 6.175 17.9881C6.95833 18.7714 7.9 19.1631 9 19.1631Z" fill="url(#paint0_linear_2149_13554)"/><defs><linearGradient id="paint0_linear_2149_13554" x1="12" y1="3.16309" x2="12" y2="21.1631" gradientUnits="userSpaceOnUse"><stop stop-color="#FFEAA6"/><stop offset="0.35" stop-color="#EEDC7A"/><stop offset="0.69" stop-color="#DAAF41"/><stop offset="1" stop-color="#FFC737"/></linearGradient></defs></svg>',
										wrapperClass: 'icon-controls__item_show-m',
										attr: {
											href: '#',
											class: ''
										}
									},
									{
										text: 'Избранное',
										icon: '<svg class="icon-control__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 21.1635L10.55 19.8635C8.86667 18.3468 7.475 17.0385 6.375 15.9385C5.275 14.8385 4.4 13.851 3.75 12.976C3.1 12.101 2.64583 11.2968 2.3875 10.5635C2.12917 9.83014 2 9.08014 2 8.31348C2 6.74681 2.525 5.43848 3.575 4.38848C4.625 3.33848 5.93333 2.81348 7.5 2.81348C8.36667 2.81348 9.19167 2.99681 9.975 3.36348C10.7583 3.73014 11.4333 4.24681 12 4.91348C12.5667 4.24681 13.2417 3.73014 14.025 3.36348C14.8083 2.99681 15.6333 2.81348 16.5 2.81348C18.0667 2.81348 19.375 3.33848 20.425 4.38848C21.475 5.43848 22 6.74681 22 8.31348C22 9.08014 21.8708 9.83014 21.6125 10.5635C21.3542 11.2968 20.9 12.101 20.25 12.976C19.6 13.851 18.725 14.8385 17.625 15.9385C16.525 17.0385 15.1333 18.3468 13.45 19.8635L12 21.1635ZM12 18.4635C13.6 17.0301 14.9167 15.801 15.95 14.776C16.9833 13.751 17.8 12.8593 18.4 12.101C19 11.3426 19.4167 10.6676 19.65 10.076C19.8833 9.48431 20 8.89681 20 8.31348C20 7.31348 19.6667 6.48014 19 5.81348C18.3333 5.14681 17.5 4.81348 16.5 4.81348C15.7167 4.81348 14.9917 5.03431 14.325 5.47598C13.6583 5.91764 13.2 6.48014 12.95 7.16348H11.05C10.8 6.48014 10.3417 5.91764 9.675 5.47598C9.00833 5.03431 8.28333 4.81348 7.5 4.81348C6.5 4.81348 5.66667 5.14681 5 5.81348C4.33333 6.48014 4 7.31348 4 8.31348C4 8.89681 4.11667 9.48431 4.35 10.076C4.58333 10.6676 5 11.3426 5.6 12.101C6.2 12.8593 7.01667 13.751 8.05 14.776C9.08333 15.801 10.4 17.0301 12 18.4635Z" fill="url(#paint0_linear_2149_13556)"/><defs><linearGradient id="paint0_linear_2149_13556" x1="12" y1="2.81348" x2="12" y2="21.1635" gradientUnits="userSpaceOnUse"><stop stop-color="#FFEAA6"/><stop offset="0.35" stop-color="#EEDC7A"/><stop offset="0.69" stop-color="#DAAF41"/><stop offset="1" stop-color="#FFC737"/></linearGradient></defs></svg>',
										wrapperClass: 'icon-controls__item_show-m',
										attr: {
											href: '#',
											class: ''
										}
									},
									{
										text: 'Сравнение',
										icon: '<svg class="icon-control__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 20.1631V12.1631H8V20.1631H4ZM10 20.1631V4.16309H14V20.1631H10ZM16 20.1631V9.16309H20V20.1631H16Z" fill="url(#paint0_linear_2149_13558)"/><defs><linearGradient id="paint0_linear_2149_13558" x1="12" y1="4.16309" x2="12" y2="20.1631" gradientUnits="userSpaceOnUse"><stop stop-color="#FFEAA6"/><stop offset="0.35" stop-color="#EEDC7A"/><stop offset="0.69" stop-color="#DAAF41"/><stop offset="1" stop-color="#FFC737"/></linearGradient></defs></svg>',
										wrapperClass: 'icon-controls__item_show-m',
										attr: {
											href: '#',
											class: ''
										}
									},
									{
										text: 'Корзина',
										icon: '<svg class="icon-control__icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 22.1631C6.45 22.1631 5.97917 21.9673 5.5875 21.5756C5.19583 21.1839 5 20.7131 5 20.1631C5 19.6131 5.19583 19.1423 5.5875 18.7506C5.97917 18.3589 6.45 18.1631 7 18.1631C7.55 18.1631 8.02083 18.3589 8.4125 18.7506C8.80417 19.1423 9 19.6131 9 20.1631C9 20.7131 8.80417 21.1839 8.4125 21.5756C8.02083 21.9673 7.55 22.1631 7 22.1631ZM17 22.1631C16.45 22.1631 15.9792 21.9673 15.5875 21.5756C15.1958 21.1839 15 20.7131 15 20.1631C15 19.6131 15.1958 19.1423 15.5875 18.7506C15.9792 18.3589 16.45 18.1631 17 18.1631C17.55 18.1631 18.0208 18.3589 18.4125 18.7506C18.8042 19.1423 19 19.6131 19 20.1631C19 20.7131 18.8042 21.1839 18.4125 21.5756C18.0208 21.9673 17.55 22.1631 17 22.1631ZM6.15 6.16309L8.55 11.1631H15.55L18.3 6.16309H6.15ZM5.2 4.16309H19.95C20.3333 4.16309 20.625 4.33392 20.825 4.67559C21.025 5.01725 21.0333 5.36309 20.85 5.71309L17.3 12.1131C17.1167 12.4464 16.8708 12.7048 16.5625 12.8881C16.2542 13.0714 15.9167 13.1631 15.55 13.1631H8.1L7 15.1631H19V17.1631H7C6.25 17.1631 5.68333 16.8339 5.3 16.1756C4.91667 15.5173 4.9 14.8631 5.25 14.2131L6.6 11.7631L3 4.16309H1V2.16309H4.25L5.2 4.16309Z" fill="url(#paint0_linear_2149_13561)"/><defs><linearGradient id="paint0_linear_2149_13561" x1="10.9908" y1="2.16309" x2="10.9908" y2="22.1631" gradientUnits="userSpaceOnUse"><stop stop-color="#FFEAA6"/><stop offset="0.35" stop-color="#EEDC7A"/><stop offset="0.69" stop-color="#DAAF41"/><stop offset="1" stop-color="#FFC737"/></linearGradient></defs></svg>',
										wrapperClass: '',
										attr: {
											href: '#',
											class: 'disabled-element'
										}
									},
								]
							})

						+e.search
							+search-panel({
								input: {
									attr: {
										class: 'js-search-with-results',
										placeholder: 'Например: крупногабаритная шина'
									}
								},
								submit: {
									icon: 'search'
								},
								results: true
							})

	// end .header
