mixin catalog-filters()
	- var DIR = 'assets/blocks/catalog-filters/';
	- var IMG_DIR = DIR + 'images/';
	// begin .catalog-filters
	+b.catalog-filters&attributes(attributes)
		block
	// end .catalog-filters
