DIR = '../blocks/catalog-filters/'
IMG_DIR = DIR + 'images/'

.catalog-filters
	display block

	&__item
		padding 25px 0
		border-bottom 1px solid var(--color-gray)

		+above(size-l)
			padding 0 0 40px
			border-bottom none



	&__controls
		margin-top 25px

		+above(size-xxl)
			margin-top 0