DIR = '../blocks/tabs/'
IMG_DIR = DIR + 'images/'

.tabs
	position relative
	display block



	&__nav
		display flex
		overflow auto
		flex-wrap nowrap
		margin 0 -10px 55px
		padding 0 10px
		list-style none

		no-scrollbar()

		+above(size-l)
			margin 0 0 38px
			padding 0

		&:last-child
			margin-bottom 0



	&__item
		display block
		flex 0 0 auto
		width auto
		max-width 100%
		margin 0 8px 0 0
		padding 0

		+above(size-s)
			margin 0 12px 0 0

		&:last-child
			margin-right 0




	&__label
		position relative
		z-index 1
		display block
		width 100%
		padding 7px 23px
		color var(--colo-dark)
		font-size 12px
		font-weight 300
		line-height 1.25
		text-align center
		text-decoration none
		user-select none
		background transparent
		border 1px solid var(--color-grey)
		border-radius 20px
		outline none
		def-trn(color, background-color, border-color)

		+above(size-s)
			font-size 16px

		&:disabled
			color var(--color-grey)
			background-color var(--color-milk)
			border-color var(--color-milk)

		&:hover
			color var(--color-primary)
			border-color var(--color-primary)

		// Modifiers
		&_state
			&_active
				color var(--color-white)
				pointer-events none
				background-color var(--color-primary)
				border-color var(--color-primary)

				&:hover
					color var(--color-white)
					background-color var(--color-primary)
					border-color var(--color-primary)



	&__content
		display block



	&__panel

		// Modifiers
		&_state
			&_hidden
				display none

			&_active
				display block



	&__title
		display block
		margin 0 0 28px

		&:last-child
			margin-bottom 0



	// Modifiers
	&_align
		&_center
			.tabs
				&__nav
					justify-content center

	&_no
		&_mobile-title
			.tabs
				&__title
					display none

					+above(size-m)
						display block