extends /layouts/default/default.pug

block head
	- var pageTitle = 'Бренды | VATE';
	- var pageDescription = 'Vate';
	- var pageKeywords = 'vate';

block content
	+e.nav-slider
		+nav-carousel({
			items:[
				{
					title: 'Шины',
					attr:{
						href:'#',
						class: '_style_outline _width_full'
					},
				},
				{
					title: 'Камеры',
					attr:{
						href:'#',
						class: '_style_outline _width_full'
					},
				},
				{
					title: 'Диски',
					attr:{
						href:'#',
						class: '_style_outline _width_full'
					},
				},
				{
					title: 'Запчасти',
					attr:{
						href:'#',
						class: '_style_outline _width_full'
					},
				},
				{
					title: 'Контакты',
					attr:{
						href:'#',
						class: '_style_outline _width_full'
					},
				},
			]
		})

	+e.breadcrumbs
		+breadcrumbs({
			items: [
				{
					text: 'Главная',
					href: 'index.html'
				},
				{
					text: 'Бренды'
				},
			]
		})

	+e.section._top_gradient
		.page__container
			+section({
				header: {
					class: '_type_inline',
					title: {
						tag: 'h1',
						text: 'Бренды производителей',
						attr: {
							class: '_size_h1 _case_upper _style_gradient'
						}
					},
				}
			})._spacing_top-none
					+brands-grid({
						items:[
							{
								image: '1.png',
								title: 'Аdvance tyres Germany',
								attr:{
									href: '#'
								}
							},
							{
								image: '2.png',
								title: 'Aeolus <br> tyres',
								attr:{
									href: '#'
								}
							},
							{
								image: '3.png',
								title: 'Atlander <br> AX tyres',
								attr:{
									href: '#'
								}
							},
							{
								image: '4.png',
								title: 'Gigant <br> tire',
								attr:{
									href: '#'
								}
							},
							{
								image: '5.png',
								title: 'Boto <br> tyres',
								attr:{
									href: '#'
								}
							},
							{
								image: '6.png',
								title: 'Aeolus <br> tyres',
								attr:{
									href: '#'
								}
							},
							{
								image: '7.png',
								title: 'Condor <br> tyres',
								attr:{
									href: '#'
								}
							},
							{
								image: '8.png',
								title: 'Goodyear <br> tyres',
								attr:{
									href: '#'
								}
							},
							{
								image: '9.png',
								title: 'Continental <br> tyres',
								attr:{
									href: '#'
								}
							},
							{
								image: '10.png',
								title: 'Deestone <br> tyres',
								attr:{
									href: '#'
								}
							},
							{
								icon: '<svg class="brand__icon" width="200" height="30" viewBox="0 0 200 30" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_835_14287)"><path d="M0 30V-1.90735e-06H192.205V30H0Z" fill="white"/><path d="M0 30V0H192.205V30H0ZM135.269 27.7852V21.3913H108.253V8.59044H113.336V17.8852H121.555V8.59044H135.269V2.21478H2.264V27.7852H135.269ZM4.81867 15C4.81867 9.24783 9.592 4.57826 15.472 4.57826C18.008 4.57826 20.336 5.44435 22.1653 6.89218C23.9973 5.44435 26.3253 4.57826 28.8613 4.57826C34.7413 4.57826 39.5147 9.24783 39.5147 15C39.5147 20.7522 34.7413 25.4217 28.8613 25.4217C26.3253 25.4217 23.9973 24.5557 22.1653 23.1078C20.336 24.5557 18.008 25.4217 15.472 25.4217C9.592 25.4217 4.81867 20.7522 4.81867 15ZM20.5307 21.5478C19.1227 20.507 17.3707 19.8887 15.472 19.8887C13.576 19.8887 11.824 20.507 10.416 21.5478C11.824 22.5887 13.576 23.207 15.472 23.207C17.3707 23.207 19.1227 22.5887 20.5307 21.5478ZM33.9173 21.5478C32.5093 20.507 30.76 19.8887 28.8613 19.8887C26.9627 19.8887 25.208 20.507 23.8027 21.5478C25.208 22.5887 26.9627 23.207 28.8613 23.207C30.76 23.207 32.5093 22.5887 33.9173 21.5478ZM78.8187 21.0652C77.6773 20.6061 76.8267 19.9043 76.272 18.9522C75.8613 18.253 75.6027 17.4104 75.496 16.4217C75.2373 17.9426 74.5387 19.1426 73.4027 20.0191C71.9333 21.1565 69.736 21.7252 66.816 21.7278C63.8933 21.7252 61.696 21.1565 60.2267 20.0191C59.2907 19.2991 58.6533 18.3574 58.312 17.1965C58.16 17.6661 57.9547 18.0965 57.696 18.493C57.072 19.4426 56.144 20.1626 54.9067 20.653C53.6747 21.1435 52.1387 21.3887 50.304 21.3913H41.9253V8.57218H50.304C52.1333 8.57478 53.664 8.82261 54.8987 9.31565C56.1333 9.80869 57.0667 10.5313 57.6907 11.4835C57.952 11.8826 58.1573 12.3157 58.3093 12.7852C58.6533 11.627 59.2907 10.6852 60.2267 9.96261C61.696 8.82783 63.8933 8.25913 66.816 8.25391C69.736 8.25913 71.9333 8.82783 73.4027 9.96261C74.464 10.7817 75.144 11.8826 75.44 13.2678V8.59044H80.504V14.8513C80.4987 15.6522 80.5733 16.307 80.7307 16.8104C80.888 17.3165 81.16 17.687 81.552 17.9217C81.9413 18.1591 82.48 18.2739 83.1707 18.2713C83.864 18.2739 84.4027 18.1591 84.7867 17.9217C85.1733 17.687 85.4453 17.3165 85.5973 16.8104C85.752 16.307 85.8267 15.6522 85.8213 14.8513V8.59044H90.8853V15.3078C90.888 16.8 90.6133 18.0183 90.064 18.9678C89.512 19.9174 88.6667 20.6217 87.528 21.073C86.3867 21.5243 84.936 21.7487 83.1707 21.7461C81.4133 21.7487 79.9627 21.5217 78.8187 21.0652ZM147.627 20.3557C148.749 19.6565 149.517 18.7043 149.933 17.5043C150.293 18.5243 150.899 19.3617 151.749 20.0191C153.219 21.1565 155.416 21.7252 158.336 21.7278C161.259 21.7252 163.456 21.1565 164.925 20.0191C166.395 18.887 167.133 17.2096 167.133 14.9922C167.133 12.7748 166.395 11.0974 164.925 9.96261C163.456 8.82783 161.259 8.25913 158.336 8.25391C155.416 8.25913 153.219 8.82783 151.749 9.96261C150.893 10.6226 150.285 11.4678 149.928 12.4957C149.741 11.893 149.456 11.3478 149.072 10.8652C148.397 10.0148 147.429 9.36782 146.165 8.92435C144.901 8.48087 143.355 8.25652 141.525 8.25391C138.605 8.25913 136.408 8.82783 134.939 9.96261C134.307 10.4504 133.808 11.04 133.448 11.7287H126.619V13.2652H132.901C132.787 13.7974 132.731 14.3739 132.731 14.9922C132.731 15.4878 132.768 15.96 132.843 16.4035H126.619V18.0965H133.368C133.733 18.853 134.259 19.4948 134.939 20.0191C136.408 21.1565 138.605 21.7252 141.525 21.7278C144.133 21.7226 146.168 21.2661 147.627 20.3557ZM91.5867 21.3913V8.59044H102.112C103.245 8.58522 104.184 8.67652 104.925 8.87218C105.667 9.06783 106.219 9.39652 106.581 9.86348C106.941 10.3304 107.123 10.9696 107.12 11.7809C107.12 12.407 106.973 12.96 106.683 13.4348C106.389 13.907 105.96 14.293 105.392 14.5852C106.141 14.8252 106.707 15.2087 107.088 15.7409C107.469 16.2704 107.661 16.9383 107.661 17.7443C107.664 18.9522 107.256 19.8626 106.443 20.473C105.629 21.0861 104.408 21.3913 102.779 21.3913H91.5867ZM172.877 21.3913V8.59044H167.795V21.3913H172.877ZM178.56 21.3913V13.8965L184.056 21.3913H189.733V8.59044H184.832V15.96L179.768 8.59044H173.787V21.3913H178.56ZM37.2507 15C37.2507 13.1426 36.6187 11.4287 35.5547 10.0539C34.488 11.4287 33.856 13.1426 33.856 15C33.856 16.8574 34.488 18.5713 35.5547 19.9487C36.6187 18.5713 37.2507 16.8574 37.2507 15ZM10.4747 15C10.4747 13.1426 9.84267 11.4287 8.77867 10.0539C7.71467 11.4287 7.08267 13.1426 7.08267 15C7.08267 16.8574 7.71467 18.5713 8.78133 19.9461C9.84533 18.5713 10.4747 16.8574 10.4747 15ZM23.864 15C23.864 13.1426 23.232 11.4287 22.1653 10.0539C21.1013 11.4287 20.472 13.1426 20.472 15C20.472 16.8574 21.1013 18.5713 22.1653 19.9461C23.232 18.5713 23.864 16.8574 23.864 15ZM69.3093 17.5513C69.8773 16.9696 70.1653 16.1139 70.168 14.9922C70.1653 13.8678 69.8773 13.0122 69.3093 12.4226C68.7413 11.833 67.9093 11.5383 66.816 11.533C65.72 11.5383 64.8907 11.833 64.32 12.4226C63.752 13.0122 63.464 13.8678 63.4613 14.9922C63.464 16.1139 63.752 16.9696 64.32 17.5513C64.8907 18.133 65.72 18.4278 66.816 18.4304C67.9093 18.4278 68.7413 18.133 69.3093 17.5513ZM139.032 17.5513C138.464 16.9696 138.179 16.1139 138.173 14.9922C138.179 13.8678 138.464 13.0122 139.032 12.4226C139.6 11.833 140.432 11.5383 141.525 11.533C142.376 11.5357 143.045 11.7443 143.533 12.1565C144.021 12.5687 144.307 13.1739 144.392 13.9696H149.6C149.56 14.2957 149.541 14.6374 149.541 14.9922C149.541 15.4696 149.576 15.9235 149.645 16.3487H144.373C144.219 17.0452 143.899 17.567 143.416 17.9139C142.933 18.2583 142.304 18.4304 141.525 18.4304C140.432 18.4278 139.6 18.133 139.032 17.5513ZM155.843 17.5513C155.275 16.9696 154.989 16.1139 154.984 14.9922C154.989 13.8678 155.275 13.0122 155.843 12.4226C156.413 11.833 157.245 11.5383 158.336 11.533C159.432 11.5383 160.264 11.833 160.832 12.4226C161.4 13.0122 161.688 13.8678 161.691 14.9922C161.688 16.1139 161.4 16.9696 160.832 17.5513C160.264 18.133 159.432 18.4278 158.336 18.4304C157.245 18.4278 156.413 18.133 155.843 17.5513ZM101.344 18.1461C101.637 18.1017 101.856 18.0052 102.003 17.8565C102.149 17.7052 102.221 17.4757 102.219 17.1626C102.221 16.847 102.149 16.6122 102.011 16.4583C101.869 16.3017 101.653 16.2 101.36 16.1504C101.067 16.1009 100.693 16.08 100.237 16.0852H96.6533V18.2035H100.237C100.683 18.2087 101.051 18.1878 101.344 18.1461ZM15.472 17.6739C16.6 17.6739 17.6853 17.8461 18.7067 18.1643C18.3813 17.1652 18.2053 16.1035 18.2053 15C18.2053 13.8965 18.3813 12.8348 18.7067 11.8357C17.6853 12.1565 16.6 12.3261 15.472 12.3261C14.3467 12.3261 13.2613 12.1565 12.24 11.8357C12.5627 12.8348 12.7387 13.8965 12.7387 15C12.7387 16.1035 12.5627 17.1652 12.24 18.1643C13.2613 17.8461 14.3467 17.6739 15.472 17.6739ZM31.5947 15C31.5947 13.8965 31.768 12.8348 32.0933 11.8357C31.0747 12.1565 29.9867 12.3261 28.8613 12.3261C27.7333 12.3261 26.6453 12.1565 25.6267 11.8357C25.952 12.8348 26.128 13.8965 26.128 15C26.128 16.1035 25.952 17.1652 25.6267 18.1643C26.6453 17.8461 27.7333 17.6739 28.8613 17.6739C29.9867 17.6739 31.0747 17.8461 32.0933 18.1643C31.768 17.1652 31.5947 16.1035 31.5947 15ZM51.5787 17.6922C52.1227 17.4913 52.528 17.1626 52.792 16.7035C53.0587 16.2443 53.192 15.6313 53.1893 14.867C53.192 14.1104 53.0613 13.5052 52.7973 13.0461C52.5333 12.587 52.1307 12.2557 51.5867 12.0496C51.0453 11.8435 50.352 11.7417 49.512 11.7443H46.9893V17.987H49.512C50.3467 17.9922 51.0347 17.893 51.5787 17.6922ZM101.053 13.3487C101.312 13.3096 101.507 13.2235 101.635 13.093C101.76 12.96 101.824 12.7591 101.824 12.4852C101.824 12.2035 101.76 11.9974 101.629 11.867C101.501 11.7391 101.307 11.6583 101.045 11.627C100.781 11.593 100.453 11.58 100.059 11.5852H96.6533V13.4035H100.059C100.459 13.4061 100.792 13.3904 101.053 13.3487ZM20.5307 8.45218C19.1227 7.4113 17.3707 6.79305 15.472 6.79305C13.576 6.79305 11.824 7.4113 10.416 8.45218C11.8213 9.49304 13.5733 10.1113 15.472 10.1113C17.3707 10.1113 19.1227 9.49304 20.5307 8.45218ZM33.9173 8.45218C32.5093 7.4113 30.76 6.79305 28.8613 6.79305C26.9627 6.79305 25.2107 7.4113 23.8027 8.45218C25.2107 9.49304 26.9627 10.1113 28.8613 10.1113C30.76 10.1113 32.5093 9.49304 33.9173 8.45218Z" fill="black"/><path d="M197.188 27.84H197.447L198.044 28.9096H198.7L198.039 27.7983C198.153 27.7904 198.257 27.767 198.351 27.72C198.444 27.6757 198.519 27.6078 198.575 27.5113C198.631 27.42 198.66 27.2948 198.663 27.1383C198.66 26.9478 198.617 26.7939 198.535 26.6817C198.449 26.5722 198.327 26.4913 198.169 26.4443C198.012 26.3948 197.82 26.3739 197.596 26.3739H196.633V28.9096H197.188V27.84ZM197.188 26.807H197.572C197.644 26.8043 197.716 26.8096 197.793 26.82C197.868 26.8304 197.935 26.8565 197.985 26.8957C198.039 26.9374 198.068 26.9974 198.071 27.0835C198.071 27.1774 198.055 27.2478 198.023 27.2948C197.991 27.3417 197.945 27.373 197.887 27.3887C197.828 27.4043 197.756 27.4122 197.673 27.4096H197.188V26.807ZM199.999 27.6443C199.999 27.347 199.956 27.0757 199.871 26.8278C199.785 26.5826 199.668 26.3635 199.516 26.173C199.364 25.9826 199.188 25.8235 198.985 25.6904C198.783 25.56 198.561 25.4609 198.324 25.3904C198.087 25.3252 197.841 25.2887 197.585 25.2887C197.327 25.2887 197.079 25.3252 196.841 25.3904C196.604 25.4609 196.383 25.56 196.18 25.6904C195.977 25.8235 195.799 25.9826 195.647 26.173C195.495 26.3635 195.377 26.5826 195.292 26.8278C195.207 27.0757 195.164 27.347 195.164 27.6443C195.164 27.9417 195.207 28.213 195.292 28.4609C195.377 28.7061 195.495 28.9252 195.647 29.1157C195.799 29.3061 195.977 29.4678 196.18 29.5983C196.383 29.7313 196.604 29.8304 196.841 29.8983C197.079 29.9661 197.327 30 197.585 30C197.841 30 198.087 29.9661 198.324 29.8983C198.561 29.8304 198.783 29.7313 198.985 29.5983C199.188 29.4678 199.364 29.3061 199.516 29.1157C199.668 28.9252 199.785 28.7061 199.871 28.4609C199.956 28.213 199.999 27.9417 199.999 27.6443ZM199.305 27.6443C199.303 27.9183 199.257 28.1635 199.167 28.3852C199.076 28.607 198.951 28.8 198.793 28.9591C198.633 29.1183 198.449 29.2409 198.244 29.327C198.039 29.413 197.817 29.4574 197.585 29.4574C197.345 29.4574 197.121 29.413 196.913 29.327C196.705 29.2409 196.521 29.1183 196.364 28.9591C196.204 28.8 196.084 28.607 195.993 28.3852C195.903 28.1635 195.857 27.9183 195.857 27.6443C195.857 27.373 195.903 27.1252 195.993 26.9035C196.084 26.6843 196.204 26.4939 196.364 26.3348C196.521 26.1757 196.705 26.053 196.913 25.9696C197.121 25.8835 197.345 25.8391 197.585 25.8391C197.817 25.8391 198.039 25.8835 198.244 25.9696C198.449 26.053 198.633 26.1757 198.793 26.3348C198.951 26.4939 199.076 26.6843 199.167 26.9035C199.257 27.1252 199.303 27.373 199.305 27.6443Z" fill="black"/></g><defs><clipPath id="clip0_835_14287"><rect width="200" height="30" fill="white"/></clipPath></defs></svg>',
								title: 'Doubleсoin <br> tyres',
								attr:{
									href: '#'
								}
							},
							{
								image: '12.png',
								title: 'Marangoni <br> tyres',
								attr:{
									href: '#'
								}
							},
						],
						controls:[
							{
								text: 'Показать еще',
								attr: {
									href: '#',
									class: '_size_l _width_full'
								}
							}
						]
					})


