// breakpoints
size-xs = 1px
size-s = 480px
size-m = 768px
size-l = 1025px
size-xl = 1281px
size-xxl = 1440px

breakpoints = {
	xs: size-xs,
	s: size-s,
	m: size-m,
	l: size-l,
	xl: size-xl,
	xxl: size-xxl
}

// Containers
containers = {
	default: {
		gutter: 10px,
		maxWidth: 1220px,
		breakpoints: breakpoints
	},
	noGutter: {
		gutter: 0,
		maxWidth: 1200px,
		breakpoints: breakpoints
	},
}



// Transitions
trn-speed = .3s
trn-ease = ease



// Colors - Raw
$c-primary = #8E0E59
$c-primary-dark = #760b4a
$c-secondary = #FF00E5
$c-alt = #3333CC
$c-black = #000000
$c-darker = #1B1A18
$c-dark = #282323
$c-grey = #959595
$c-milk = #F7FAF7
$c-white = #ffffff
$c-error = #ff0000



// Opacity
$hover-opacity = .7