# игнорируем папки Битрикса
/bitrix
/upload/

# другие файлы
.htaccess

# Created by .ignore support plugin (hsz.mobi)
bitrix/backup
bitrix/cache
bitrix/managed_cache
bitrix/stack_cache
bitrix/php_interface/dbconn.php
bitrix/php_interface/after_connect_d7.php
bitrix/.settings.php
bitrix/components/bitrix
bitrix/admin
bitrix/themes
bitrix/modules
bitrix/panel
.idea
.htsecure
upload
bitrix/modules/serverfilelog*
bitrix/modules/updater.log
bitrix/modules/serverfileerrorlog.dat
bitrix/wizards
bitrix/backup
bitrix/gadgets/bitrix
bitrix/controller_log
bitrix/image_uploader
bitrix/images
bitrix/js
bitrix/otp
bitrix/sounds
bitrix/tmp
bitrix/tools
webstat
bitrix/activities
images
upload

site_checker_*
*.php_
*.php_old
logs/
*.sql_
test/
*.jpg
*.png
*.flv
*.csv
*.conf
*.log
*.tar.gz
*.bak*
*.orig
*.zip
*.xml
*.sql
sitemap*.xml
/bitrix/blocks
/bitrix/templates
/bitrix/css
/bitrix/fonts
/bitrix/components/aspro
/bitrix/components/yandex.market

bitrix/catalog_export
bitrix/gadgets
bitrix/legal
bitrix/routing_index.php
desktop_app
