DIR = '../blocks/icon-link/'
IMG_DIR = DIR + 'images/'

.icon-link
	display flex
	flex-wrap nowrap
	column-gap 6px
	align-items center
	color inherit
	font-size 16px
	line-height 1.2
	text-decoration none
	outline none
	def-trn(color, opacity)

	&:hover
		color var(--color-primary)
		text-decoration none



	&__icon-wrapper
		display block
		flex 0 0 auto
		width auto



	&__icon
		display block
		width 16px
		height 16px
		fill currentColor



	// Modifiers
	&_text-size
		&_s
			font-size 14px
			line-height 1.214

		&_l
			font-size 14px
			line-height 1.214

			+above(size-l)
				font-size 20px
				line-height 1.2

		&_xl
			font-size 24px
			line-height 1.2

			+above(size-l)
				font-size 28px
				line-height 1.214

	&_icon-size
		&_s
			column-gap 4px

			.icon-link
				&__icon
					width 12px
					height 12px

		&_s-to-l
			column-gap 4px

			+above(size-l)
				column-gap 8px

			.icon-link
				&__icon
					width 12px
					height 12px

					+above(size-l)
						width 24px
						height 24px

		&_l
			column-gap 8px

			.icon-link
				&__icon
					width 24px
					height 24px

	&_gap
		&_l
			column-gap 8px

	&_style
		&_light
			color var(--color-white)

			&:hover
				color var(--color-white)
				opacity $hover-opacity

	&_weight
		&_regular
			font-weight 400