// breakpoints
size-xxs = 1px
size-xs = 375px
size-s = 480px
size-m = 744px
size-l = 1025px
size-xl = 1281px
size-xxl = 1440px

breakpoints = {
	xs: size-xs,
	s: size-s,
	m: size-m,
	l: size-l,
	xl: size-xl,
	xxl: size-xxl
}

// Containers
containers = {
	default: {
		gutter: 10px,
		maxWidth: 1135px,
		breakpoints: breakpoints
	}
}


// Transitions
trn-speed = .3s
trn-ease = ease



// Colors - Raw
$c-primary = linear-gradient(180deg, #FBD65C 0%, #F6DBA6 28%, #FFEBC4 66.5%, #FDD546 100%);
$c-secondary =linear-gradient(180deg, #FFEAA6 0%, #EEDC7A 35%, #DAAF41 69%, #FFC737 100%);
$c-black = #000000
$c-white = #ffffff
$c-yellow = #eedc7a
$c-red = #ff0000
$c-gray = #575757
$c-muted = #CCCCCC
$c-light-gray= #E4E4E4


// Opacity
$hover-opacity = .7




//Shadow
$bs-primary = 0 0 10px 0 rgba(238, 220, 122, 1)
