.header_theme_collection {
    position: relative;
    background-color: rgba(255, 255, 255, 0.85);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
}
.header_color_blue {
    color: #42C3D7;
}
.header_color_blue .logo {
    color: #42C3D7;
}
.header_color_blue svg {
    fill: currentColor;
}
.header_color_blue .bottom-header {
    background-color:  #42C3D7;
}
.header_color_blue .top-header .top-menu__item-link,
.header_color_blue .top-header .top-menu__item:hover .top-menu__item-link,
.header_color_blue .top-header .top-menu__item .dd-menu__item-link:hover,
.header_color_blue .logo:hover {
    color: #42C3D7;
}
.header_theme_collection .middle-header__contacts__socials {
    position: relative;
    padding-right: 20px;
}
.header_color_blue .middle-header__contacts__socials-item:hover path,
.header_color_blue .logo:hover path {
    fill: #42C3D7;
}
.header_color_blue .middle-header__contacts__socials-item svg {
    fill: currentColor;
}
.header_color_blue .bottom-header .main-menu__item .dd-menu {
    background-color: #42C3D7;
}
.middle-header__contacts__socials-list {
    display: flex;
    max-width: 110px;
    overflow: hidden;
    justify-content: start;
    transition: max-width 0.7s linear;
}
.middle-header__contacts__socials_open .middle-header__contacts__socials-list {
    max-width: 1000px;
}
.middle-header__contacts__btn {
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    vertical-align: middle;
    right: -10px;
    transition: transform .3s;
}
.middle-header__contacts__socials_open .middle-header__contacts__btn {
    transform: scaleX(-1);
}
.hidden-seo-text {
    visibility: hidden;
    opacity: 0;
    height: 1px;
}
.content-text-h1_family_montserrat {
    font-family: 'Montserrat', sans-serif;
}
.content .full-page-banner_aspect-ratio_56 {
    position: relative;
    margin-top: -170px;
    margin-bottom: 75px;
    z-index: -1;
}
.content-text-h1_color_blue {
    color: #42C3D7;
}
.advantages {
    padding: 65px 0;
}
.content__advantages {
    margin-top: -85px;
    z-index: 10;
}
.advantages__caption {
    margin-top: 13px;
}
.advantages__inner {
    color: #fff;
}
.advantages__list {
    margin: 60px 0 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 22px;
}
.advantages__item  {
    display: flex;
}
.advantages__icon {
    margin-right: 10px;
}
.advantages__descr {
    width: calc(100% - 92px);
}
.advantages__title {
    color: #fff;
    font: 600 18px/22px 'Montserrat', sans-serif;
    margin-bottom: 12px;
    text-transform: uppercase;
}
.advantages__text {
    color: #fff;
    font-size: 14px;
    line-height: 1.4;
}
.advantages__img {
    max-width: 100%;
    max-height: 100%;
}
.content-text-h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: left;
    color: inherit;
}
.title-caption {
    font-size: 14px;
    line-height: 1.4;
    color: #fff;
}
.content__accordion {
    width: 100%;
    margin: 110px 0;
}
.accordion__list {
    position: relative;
    margin: 60px 0;
    counter-reset: counter;
}
.accordion__item {
    display: flex;
    position: initial;
    width: 100%;
    counter-increment: counter;
}
.accordion__item:not(:last-child) {
    margin-bottom: 28px;
}
.accordion__header {
    position: initial;
    flex-grow: 1;
    max-width: 650px;
}
.accordion__icon {
    position: relative;
    margin-right: 20px;
}
.accordion__icon:before,
.accordion__icon:after {
    position: absolute;
    left: 50%;
    color: currentColor;
    transform: translateX(-50%);
    z-index: 10;
}
.accordion__icon:before {
    font: 600 35px/35px 'Montserrat', sans-serif;
    content: counter(counter);
    top: 23px;
}
.accordion__icon:after {
    font: 400 50px/61px 'Montserrat', sans-serif;
    content: '+';
    bottom: -43px;
}
.accordion__item:last-child .accordion__icon:after {
    display: none;
}
.accordion__content {
    display: none;
}
.accordion__title {
    display: flex;
    min-height: 75px;
    align-items: center;
    font-size: 27px;
    line-height: 1;
    color: currentColor;
    text-decoration: underline dashed 1px;
    text-underline-offset: 3px;
}
.accordion__line svg {
    color: currentColor;
}
.accordion__line {
    position: absolute;
    left: -60px;
}
.accordion__line_position_top {
    top: 5px;
    transform: rotate(180deg);
}
.accordion__line_position_bottom {
    bottom: 5px;
}
.label {
    color: #fff;
    padding: 3px;
    text-transform: uppercase;
    border-radius: 3px;
}
.list {
    display: block;
    padding-left: 15px;
}
.list li {
    font-weight: 300;
}
.list li:before {
    content: "";
    display: block;
    width: 6px;
    height: 1px;
    background: rgba(40, 35, 35, 1);
    position: absolute;
    left: -12px;
    top: 10px;
}
.accordion__section:not(:last-child) {
    margin-bottom: 20px;
}
.accordion__inner {
    display: flex;
    justify-content: space-between;
}
.accordion__picture {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .3s;
}
.accordion__item_state_open .accordion__picture {
    visibility: visible;
    opacity: 1;
}
.accordion__subtitle {
    font-size: 16px;
}
.carousel-result__slide {
    display: flex;
    gap: 20px;
}
.swiper__illustration {
    max-width: 592px;
    border-radius: 5px;
    overflow: hidden;
}
.swiper__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel__wrapper {
    margin: 30px 0;
}
.carousel__inner {
    width: 100%;
}
.carousel__header {
    display: flex;
}
.swiper__controls {
    justify-self: flex-end;
    display: flex;
    gap: 20px;
}
.swiper-button-next, .swiper-button-prev {
    position: initial;
}
.swiper__button {
    width: 52px;
    height: 52px;
    color: #959595;
    border-radius: 50%;
    background-color: #F7FAF7;
    margin-top: 0;
    box-shadow: 0px 0px 12px rgba(27, 26, 24, 0.1);
}
.swiper__icon {
    fill: currentColor;
}
.swiper__button.swiper-button-prev:after,
.swiper__button.swiper-button-next:after {
    display: none;
}
.carousel__footer {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.carousel__footer .swiper-pagination-bullet {
    margin: 0 10px;
    background: transparent;
    border: 1px solid #959595;
}
/* Theme color style */
.theme_color_blue .content-text-h1__name {
    color: #42C3D7;
}
.theme_color_blue .advantages {
    background-color: #42C3D7;
}
.theme_color_blue .accordion__title {
    color: #42C3D7;
}
.theme_color_blue .accordion__icon {
    color: #42C3D7;
}
.theme_color_blue .tabs-buttons-wrapper__button._active {
    background: #42C3D7;
}
.theme_color_blue .swiper-button-next {
    color: #42C3D7;
}
.theme_color_blue .swiper-pagination-bullet-active {
    background: #42C3D7;
    border-color: #42C3D7;
}
.theme_color_blue .button {
    background: #42C3D7;
    border-color: #42C3D7;
}
.theme_color_blue .label {
    background-color: #42C3D7;
}
.theme_color_blue .accordion__line {
    color: #42C3D7;
}
/* Dark-blue color */
.theme_color_dark-blue .content-text-h1__name {
    color: #3333CC;
}
.theme_color_dark-blue .advantages {
    background-color: #3333CC;
}
.theme_color_dark-blue .accordion__title {
    color: #3333CC;
}
.theme_color_dark-blue .accordion__icon {
    color: #3333CC;
}
.theme_color_dark-blue .tabs-buttons-wrapper__button._active {
    background: #3333CC;
}
.theme_color_dark-blue .swiper-button-next {
    color: #3333CC;
}
.theme_color_dark-blue .swiper-pagination-bullet-active {
    background: #3333CC;
    border-color: #3333CC;
}
.theme_color_dark-blue .button {
    background: #3333CC;
    border-color: #3333CC;
}
.theme_color_dark-blue .label {
    background-color: #3333CC;
}
.theme_color_dark-blue .accordion__line {
    color: #3333CC;
}
/* Media css */
@media (min-width: 1200px) {
    .accordion__picture {
        position: absolute;
        top: 50%;
        right: 0;
        text-align: center;
        width: calc(100% - 650px);
        transform: translateY(-50%);
    }
    .accordion__content {
        position: initial;
    }
}
@media (min-width: 768px) {
    .swiper__controls {
        margin-top: 20px;
    }
    .full-page-banner_aspect-ratio_56  {
        position: relative;
        padding-top: 56%;
    }
    .full-page-banner_aspect-ratio_56 img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@media (max-width: 1199px) {
    .accordion__picture {
        margin-bottom: 13px;
    }
    .advantages__list {
        grid-template-columns: repeat(2, 1fr);
    }
    .accordion__img {
        max-height: 460px;
    }
    .accordion__text {
        position: initial;
    }
}
@media (max-width: 991px) {
    .content .full-page-banner_aspect-ratio_56 {
        margin-top: -68px;
    }
    .advantages__inner .content-text-h2 {
        line-height: 1.2;
    }
    .products-collection__inner .product-list_wrapper {
        flex-wrap: wrap;
    }
    .header_color_blue .middle-header .search-block__mobile-activate {
        border-radius: 2px;
    }
    .header_color_blue .middle-header .logo-container {
        display: block;
    }
    .header_color_blue .middle-header .logo_color_blue {
        margin: 0 auto;
    }
}
@media (max-width: 767px) {
    .content .full-page-banner_aspect-ratio_56 {
        position: relative;
        margin-bottom: 30px;
        padding-top: 0;
        min-height: 510px;
    }
    .full-page-banner_aspect-ratio_56 .show-mobile {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .content-text-h1_size_small-xs {
        font-size: 24px;
        line-height: 1.2;
    }
    .content-text_size_middle-xs p {
        font-size: 14px;
    }
    .content-text-h2 {
        font-size: 24px;
    }
    .content-text-h2_align_center-xs {
        text-align: center;
    }
    .advantages {
        padding: 60px 0;
    }
    .advantages__caption {
        text-align: center;
        margin-top: 40px;
    }
    .advantages__list {
        margin: 70px 0 0;
        grid-template-columns: 1fr;
    }
    .advantages__icon {
        width: 56px;
        height: 56px;
    }
    .advantages__descr {
        width: calc(100% - 66px);
    }
    .advantages__title {
        font-size: 17px;
    }
    .content__accordion {
        margin: 80px 0;
    }
    .accordion__item:not(:last-child) {
        margin-bottom: 45px;
    }
    .accordion__list {
        margin-bottom: 0;
    }
    .accordion__icon {
        width: 56px;
        margin-right: 10px;
    }
    .accordion__icon:before {
        font-size: 30px;
        line-height: 30px;
    }
    .accordion__icon:after {
        bottom: -52px;
    }
    .accordion__header {
        max-width: calc(100% - 66px);
    }
    .accordion__icon:before {
        top: 13px;
    }
    .accordion__line_position_top {
        top: 32px;
    }
    .accordion__img {
        max-width: 100%;
        max-height: 100%;
    }
    .accordion__line_position_top,
    .accordion__line_position_bottom {
        left: -40px;
    }
    .accordion .accordion__title {
        min-height: 56px;
        font-size: 20px;
    }
    .accordion__img {
        max-height: 267px;
    }
    .swiper__button {
        width: 30px;
        height: 30px;
    }
    .carousel__footer {
        margin-top: 13px;
    }
    .swiper__illustration {
        width: 50%;
        position: relative;
        padding-top: 50%;
    }
    .swiper__img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .carousel__footer .swiper-pagination-bullet {
        margin: 0 5px;
    }
    .carousel__wrapper {
        margin: 37px 0;
    }
    .content__advantages {
        margin-top: -65px;
    }
    .swiper__controls {
        margin-top: 5px;
    }
    .products-collection__inner .product-list_wrapper {
        justify-content: center;
    }
}