mixin geo-selector()
	- var DIR = 'assets/blocks/geo-selector/';
	- var IMG_DIR = DIR + 'images/';
	// begin .geo-selector
	+b.geo-selector&attributes(attributes)
		+e.trigger.js-modal(href='#modalStorageSelect')
			<svg class="geo-selector__icon" width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M14.9112 14.375C13.7681 16.0436 12.0761 17.7799 9.83531 19.5838C7.59446 17.7799 5.90252 16.0436 4.75946 14.375C3.6164 12.7064 3.04488 11.1392 3.04488 9.67353C3.04488 8.41078 3.27688 7.33407 3.7409 6.44338C4.20491 5.5527 4.77644 4.83113 5.45548 4.27868C6.13452 3.72623 6.87015 3.32598 7.66237 3.07794C8.45459 2.8299 9.1789 2.70588 9.83531 2.70588C10.4917 2.70588 11.216 2.8299 12.0082 3.07794C12.8005 3.32598 13.5361 3.72623 14.2151 4.27868C14.8942 4.83113 15.4657 5.5527 15.9297 6.44338C16.3937 7.33407 16.6257 8.41078 16.6257 9.67353C16.6257 11.1392 16.0542 12.7064 14.9112 14.375ZM2.68838 16.1676C4.2615 18.3775 6.6438 20.6549 9.83531 23C13.0268 20.6549 15.4091 18.3775 16.9822 16.1676C18.5553 13.9578 19.3419 11.7931 19.3419 9.67353C19.3419 8.07255 19.0533 6.66887 18.4761 5.4625C17.8989 4.25613 17.1577 3.24706 16.2523 2.43529C15.3469 1.62353 14.3283 1.01471 13.1966 0.608824C12.0648 0.202941 10.9444 0 9.83531 0C8.7262 0 7.60578 0.202941 6.47404 0.608824C5.34231 1.01471 4.32374 1.62353 3.41835 2.43529C2.51296 3.24706 1.77167 4.25613 1.19448 5.4625C0.617298 6.66887 0.328705 8.07255 0.328705 9.67353C0.328705 11.7931 1.11526 13.9578 2.68838 16.1676ZM11.7536 11.3816C11.2217 11.9115 10.5823 12.1765 9.83531 12.1765C9.08836 12.1765 8.44893 11.9115 7.91701 11.3816C7.38509 10.8517 7.11913 10.2147 7.11913 9.47059C7.11913 8.72647 7.38509 8.08946 7.91701 7.55956C8.44893 7.02966 9.08836 6.76471 9.83531 6.76471C10.5823 6.76471 11.2217 7.02966 11.7536 7.55956C12.2855 8.08946 12.5515 8.72647 12.5515 9.47059C12.5515 10.2147 12.2855 10.8517 11.7536 11.3816Z" fill="url(#paint0_linear_2111_8621)"/>
				<defs>
					<linearGradient id="paint0_linear_2111_8621" x1="9.83531" y1="0" x2="9.83531" y2="23" gradientUnits="userSpaceOnUse">
						<stop stop-color="#FFEAA6"/>
						<stop offset="0.35" stop-color="#EEDC7A"/>
						<stop offset="0.69" stop-color="#DAAF41"/>
						<stop offset="1" stop-color="#FFC737"/>
					</linearGradient>
				</defs>
			</svg>

			+e.title
				| Склад


			+e.label
				| г. Санкт-Петербург

		block
	// end .geo-selector
