DIR = '../blocks/dev-credit/'
IMG_DIR = DIR + 'images/'

.dev-credit
	display flex
	flex-wrap nowrap
	align-items center
	color inherit
	text-decoration none
	def-trn opacity

	&:hover
		color inherit
		text-decoration none
		opacity .8

	&:focus
		color inherit
		text-decoration none
		opacity .7



	&__label
		flex 0 0 auto
		margin 0
		font inherit
		opacity .7



	&__image
		display block
		width 76px
		height auto
		margin 0


