h2.part_pink span {
    color: #e61865;
}

/*Лоадер -->*/
.total-message {
    color: #fff;
    text-align: center;
}

.total-message .notetext {
    display: block;
    margin-bottom: 1em;
}

.btn--loading {
    position: relative;
    pointer-events: none;
}

.btn--loading::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #fff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.btn--loading .btn-text {
    visibility: hidden;
    opacity: 0;
}

/*<-- Лоадер */

.suggestions_link {
    /*z-index: 3;*/
}

.c-form--label__result a {
    z-index: 3 !important;
}

.selectric-js_offer_product_select {
    z-index: 1;
}

.c-menu .c-menu__close {
    background-image: url("../img/icons/close2.svg");
}