# игнорируем папки Битрикса
/bitrix
/bitrix/vendor/
/bitrix.old/
/upload/
/images

# Created by .ignore support plugin (hsz.mobi)
bitrix/backup
bitrix/cache
bitrix/managed_cache
bitrix/stack_cache
bitrix/php_interface/dbconn.php
bitrix/.settings.php
bitrix/components/bitrix
bitrix/admin
bitrix/themes
bitrix/modules
bitrix/panel
bitrix/blocks
bitrix/mobileapp
.idea
upload
bitrix/php_interface/dbconn.php
bitrix/modules/serverfilelog*
bitrix/modules/updater.log
bitrix/modules/serverfileerrorlog.dat
bitrix/wizards
bitrix/backup
bitrix/gadgets/bitrix
bitrix/controller_log
bitrix/image_uploader
bitrix/images
bitrix/js
bitrix/otp
bitrix/sounds
bitrix/tmp
bitrix/tools
webstat
bitrix/activities
images
!/**/images/
upload
bitrix/fonts/
bitrix/gadgets/delement/
bitrix/templates/landing24/
bitrix/templates/ambersite_conservativesite/
bitrix/components/ambersite_conservativesite/
bitrix/templates/.default/page_templates/disk_common/
bitrix/templates/bitrix24/
bitrix/templates/call_app/
bitrix/templates/desktop_app/
bitrix/templates/login/
bitrix/templates/mail_imopenlines/
bitrix/templates/mail_user/
bitrix/templates/mobile_app/
bitrix/templates/pub/
bitrix/webdav/
bitrix/catalog_export
bitrix/html_pages
desktop_app
storage.php


vendor
~.git
dev/

site_checker_*
*.orig
*.jpg
*.png
!/local/**/*.jpg
*.png
!/local/**/*.png
*.flv
*.csv
*.conf
*.log
*.back*
*_back*
*.old*
*_old*
*.restore
*sitemap*.xml
*.zip
*.tar
*.tar.gz


bitrix/templates/.DS_Store
bitrix/templates/calendar_sharing/
market/
mobile/
pub

.htsecure
.htaccess
node_modules