# Created by .ignore support plugin (hsz.mobi)
bitrix/backup
bitrix/cache
bitrix/managed_cache
bitrix/stack_cache
bitrix/php_interface/dbconn.php
bitrix/.settings.php
bitrix/components/bitrix
bitrix/admin
bitrix/themes
bitrix/modules
bitrix/panel
bitrix/blocks
bitrix/mobileapp
bitrix/catalog_export
bitrix
!local/**/bitrix

.idea
upload
bitrix/php_interface/dbconn.php
bitrix/modules/serverfilelog*
bitrix/modules/updater.log
bitrix/modules/serverfileerrorlog.dat
bitrix/wizards
bitrix/backup
bitrix/gadgets/bitrix
bitrix/controller_log
bitrix/image_uploader
bitrix/images
bitrix/js
bitrix/otp
bitrix/sounds
bitrix/tmp
bitrix/tools
webstat
bitrix/activities
images
!/*/images
upload

vendor

site_checker_*
*.tar.gz
*.jpg
*.pdf
!/local/*/*.jpg
*.png
!/local/*/*.png
*.flv
*.csv
*.conf
*.log
*.back*
*_back*
*.restore
*sitemap*.xml
/tmp_design
ba.php
node_modules
local/templates/vending
_**

.access.php.bak
mobile/index.php
pub/calendar_sharing.php

/dev

#/local/templates/mirvendinga/mockup