/**Top menu**/
#horizontal-multilevel-menu,#horizontal-multilevel-menu ul
{

}

#horizontal-multilevel-menu .fa {
	font-size: 14px;
	position: absolute;
	top: 30%;
	bottom: auto;
	right: 0;
	left: auto;
	margin-right: 5px;
	margin-left: 5px;
}

#horizontal-multilevel-menu
{
	overflow: hidden;
	font-size: 0;
	margin-bottom: 0px;
	height: 53px;
	text-align: justify;
	list-style-type: none;
	line-height: 0;
	zoom: 1;
	background: transparent;
}

/*Links*/
#horizontal-multilevel-menu>li>a
{
	border: 0px;
	white-space: nowrap;
	font-size: 13px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 34px;
	display: inline-block;
	height: 53px;
	line-height: 52px;
	font-weight: 600;
}

#horizontal-multilevel-menu>li
{
	padding: 0;
	line-height: 20px;
	background: #fff;
	height: 53px;
	border: 0px;
	white-space: nowrap;
	list-style-type: none;
}

#horizontal-multilevel-menu li:before {
	content: "";
	color: transparent;
}

/*Root items*/
#horizontal-multilevel-menu li a.root-item
{
	color:#1d1a1a;;
	font-weight:bold;
	padding:7px 12px;
        display: flex;
        align-items: center;
}

/*Root menu selected*/
#horizontal-multilevel-menu li a.root-item-selected
{
	background:#ffffff;
	color:#0056b3;
	font-weight:bold;
	padding:7px 12px;
}

/*Root items: hover*/
#horizontal-multilevel-menu li:hover a.root-item, #horizontal-multilevel-menu li.jshover a.root-item
{
	background:#ffffff;
	color:#0056b3;
}

/*Item-parents*/
#horizontal-multilevel-menu a.parent
{
	/*background: url(images/arrow.gif) center right no-repeat;*/
}

/*Denied items*/
#horizontal-multilevel-menu a.denied
{
	background: url(images/lock.gif) center right no-repeat;
}

/*Child-items: hover*/
#horizontal-multilevel-menu li:hover, #horizontal-multilevel-menu li.jshover
{
	background:#D6D6D6;
	color:#fff;
}

/*Child-items selected*/
#horizontal-multilevel-menu li.item-selected
{
	background:#D6D6D6;
	color:#fff;
}

/*Sub-menu box*/
#horizontal-multilevel-menu li ul
{
	position:absolute;
	/*top:-999em;*/
	top:auto;
	display:none;
	z-index:500;

	height:auto;
	/*width:12em;*/
	width:auto;
	background:#F5F5F5;
	border:1px solid #C1C1C1;
}

/*Sub-menu item box*/
#horizontal-multilevel-menu li li
{
	position: relative;
	width:100%;
	border-bottom:1px solid #DEDEDE;
}

/*Item link*/
#horizontal-multilevel-menu li ul a
{
	font-size: 14px;
	text-align:left;
	padding: 0 22px 0 12px;
	line-height: 32px;
}

/*Items text color & size */
#horizontal-multilevel-menu li a,
#horizontal-multilevel-menu li:hover li a,
#horizontal-multilevel-menu li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li a
{
	color:#4F4F4F;
	font-weight:bold;
}

/*Items text color & size: hover*/
#horizontal-multilevel-menu li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li.jshover a
{
	color:#4F4F4F;
}

#horizontal-multilevel-menu li ul ul
{
	margin:-27px 0 0 172px;
	/*margin:-1.93em 0 0 11.6em;*/
}

#horizontal-multilevel-menu li:last-child ul ul
{
	margin:-27px 0 0 0;
	right: 100%
}

#horizontal-multilevel-menu li:hover ul ul,
#horizontal-multilevel-menu li.jshover ul ul,
#horizontal-multilevel-menu li:hover ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul ul
{
	/*top:-999em;*/
	display:none;
}

#horizontal-multilevel-menu li:hover ul,
#horizontal-multilevel-menu li.jshover ul,
#horizontal-multilevel-menu li li:hover ul,
#horizontal-multilevel-menu li li.jshover ul,
#horizontal-multilevel-menu li li li:hover ul,
#horizontal-multilevel-menu li li li.jshover ul,
#horizontal-multilevel-menu li li li li:hover ul,
#horizontal-multilevel-menu li li li li.jshover ul,
#horizontal-multilevel-menu li li li li li:hover ul,
#horizontal-multilevel-menu li li li li li.jshover ul
{
	/*z-index:1000;
	top:auto;*/
	display:block;
}

div.menu-clear-left
{
	clear:left;
}


#horizontal-multilevel-menu li ul ul ul {
	display: none !important;
}

#horizontal-multilevel-menu ul ul .fa {
	display: none;
}

/* #horizontal-multilevel-menu li ul ul ul,
#horizontal-multilevel-menu li:last-child ul ul ul {
	position: relative;
	display: block;
	margin: 0;
	border: none;
	right: auto;
}
 */