DIR = '../blocks/banner-carousel/'
IMG_DIR = DIR + 'images/'

.banner-carousel
	display block



	&__header
		display flex
		flex-wrap nowrap



	&__title
		display block
		margin 0 auto 0 0

		+above(size-l)
			margin 0 auto
			padding 0 0 0 124px

		&:last-child
			+above(size-l)
				padding-left 0



	&__carousel-nav
		flex 0 0 auto

		+above(size-l)
			flex-basis 0 0 124px



	&__container
		padding 13px 0 0

		+above(size-m)
			padding 24px 0 0

		&:first-child
			padding-top 0



	&__slide
		position relative



	&__picture
		position absolute
		top 0
		left 0
		width 100%
		height 100%



	&__image
		display block
		width 100%
		height 100%
		object-fit cover



	&__arrow
		display none

		+above(size-m)
			position absolute
			top 50%
			z-index 100
			display block
			padding 5px
			background transparent
			border none
			outline none
			opacity 1
			transform translate(0, -50%)
			def-trn opacity

		&:hover
			opacity .5

		// Modifiers
		&_position
			&_left
				left 50px

			&_right
				right 50px



	&__icon
		display block
		width 9px
		height 18px
		fill var(--color-milk)



	&__pagination
		display none

		+above(size-m)
			display block
			padding 20px 0 0



	// Modifiers
	&_state
		&_inactive
			.banner-carousel
				&__pagination
				&__arrow
					display none