DIR = '../blocks/button/'
IMG_DIR = DIR + 'images/'

.button
	position relative
	display inline-block
	vertical-align middle
	overflow hidden
	height 40px
	padding 0 4px
	color var(--color-black)
	font-family inherit
	font-size inherit
	font-weight 800
	line-height 1
	text-align center
	text-decoration none
	text-transform none
	cursor pointer
	user-select none
	background transparent
	border none
	border-radius 12px
	outline none
	transition all .3s ease 0s
	def-trn(color, background-color, border-color, opacity)

	&::before
	&::after
		content ''
		position absolute
		top 0
		left 0
		z-index 1
		width 100%
		height 100%
		def-trn(background-color, opacity)

	&::after
		background var(--color-secondary)
		opacity 1

	&::before
		background var(--color-yellow)
		opacity 0

	&:not(:disabled)
		&:hover
			text-decoration none

			&::after
				opacity 0

			&::before
				opacity 1



	&:disabled
		cursor not-allowed
		opacity .5




	&__icon
		display block

		&_type
			&_cart
				width 20px
				height 20px

				+above(size-m)
					width 32px
					height 32px


	&__holder
		position relative
		z-index 2
		display flex
		gap 10px
		align-items center
		justify-content center
		width 100%
		height 100%



	// Modifiers

	&_width
		&_full
			display block
			width 100%

		&_modal
			width 100%
			max-width 355px

		&_fit
			width fit-content
			padding 0


	&_style
		&_outline
			color var(--color-white)
			background var(--color-black)
			box-shadow var(--shadow-primary)

			&::after
				background var(--color-black)

			&:not(:disabled)
				&:hover
					color var(--color-black)
					text-decoration none
					background var(--color-yellow)


		&_secondary
			color var(--color-black)

			&:disabled
				color var(--color-white)
				cursor not-allowed

				&::after
				&::before
					display none


		&_transparent
			color inherit

			&::after
			&::before
				background transparent

				&:hover
					&::after
					&::before
						background transparent

		&_dark
			color var(--color-white)
			box-shadow none

			&::after
				background var(--color-black)

			&::before
				background transparent

			&:not(:disabled)
				&:hover
					.button
						&__holder
							background var(--color-primary)
							-webkit-background-clip text
							-webkit-text-fill-color transparent

					&::before
						background var(--color-white)

		&_muted
			&::after
				background var(--color-muted)



	&_text-size
		&_l
			font-size 20px

		&_m
			.button
				&__holder
					font-size 14px

					+above(size-xxl)
						font-size 18px



	&_size
		&_xxs
			height 29.76px



		&_xs
			height 32px



		&_s
			height 35px



		&_m
			height 45px



		&_l
			height 44px

			+above(size-xxl)
				height 60px



		&_xl
			+above(size-m)
				height 44px
				font-size 15px


			+above(size-xxl)
				height 69px


		&_cart
			height 30px

			+above(size-l)
				height 50px


	&_rounded
		&_m
			border-radius 8px



	&_case
		&_upper
			text-transform uppercase







	&_state
		&_disabled
			color var(--color-white)
			cursor not-allowed
			pointer-events none
			background-color var(--color-grey)
			border-color var(--color-grey)

		&_loading
			cursor progress
			opacity .7

			&::before
				background var(--color-secondary)
				opacity 1

			&::after
				content ''
				position absolute
				top 50%
				left 50%
				z-index 1
				display block
				box-sizing border-box
				width 32px
				height 32px
				background transparent
				border 2px solid transparent
				border-top-color currentColor
				border-radius 50%
				transform translate(-50%, -50%)
				animation-name button-loader
				animation-duration 2s
				animation-timing-function linear
				animation-iteration-count infinite

			&:hover
				&:not(:disabled)
					&::after
						border-top-color currentColor
						opacity 1

			.button
				&__holder
					visibility hidden
					opacity 0

@keyframes button-loader
	0%
		transform translate(-50%, -50%) rotate(0)

	100%
		transform translate(-50%, -50%) rotate(360deg)