DIR = '../blocks/props/'
IMG_DIR = DIR + 'images/'

.props
	display flex
	flex-flow column wrap



	&__prop
		display flex
		gap 3px
		color var(--color-light-gray)
		font-family Raleway
		font-size 10px
		font-weight 300
		font-style normal
		line-height 150%

		+above(size-m)
			font-size 12px

		+above(size-l)
			font-size 14px




	&__value
		font-weight 600
		font-variant-numeric lining-nums